{% extends "base_auth.html" %}

{% block title %}Login{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login$signup.css') }}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Login</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }} <!-- IMPORTANT: CSRF Protection Token -->

        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
            {% if form.email.errors %}
                <div class="errors">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
             {% if form.password.errors %}
                <div class="errors">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
    </form>
    <div class="form-footer">
        Need an account? <a href="{{ url_for('routes.signup') }}">Sign Up</a>
    </div>
</div>
{% endblock %}
