<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>FynCakes - Sign Up</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/login$signup.css') }}" />
	</head>
	<body>
		<div class="container">
			<h1>Sign Up</h1>
			<button class="back-button" onclick="goBack()">Back</button>

			<form action="{{ url_for('signup') }}" method="POST">
				<label for="role">I am signing up as:</label>
				<select id="role" name="role" required>
					<option value="" disabled selected>Select your role</option>
					<option value="customer">Customer</option>
					<option value="admin">Admin</option>
				</select>

				<label for="name">Name:</label>
				<input type="text" id="name" name="name" required />

				<label for="email">Email:</label>
				<input type="email" id="email" name="email" required />

				<label for="password">Password:</label>
				<input type="password" id="password" name="password" required />

				<input type="submit" value="Sign Up" />
			</form>
		</div>
		<div class="footer">&copy; 2024 FynCakes.co.ug</div>

		<script>
			function goBack() {
				window.history.back();
			}
		</script>
	</body>
</html>
